<h2>Aqui va el nav uwu</h2>

<div class="bg-image centered redhat img-1">
    <div lass="col-sm-6">
        <input class="form-control rounded-pill" type="text" placeholder="Ingrese un tema..."
            aria-label="default input example" style="width: 50em;">
    </div>
</div>
<br> 
<body class="" style="margin-left: 12em; margin-right: 12em;">
    <div class="dropdown centered">
        <button class="btn btn-secondary dropdown-toggle btnw" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bioquimica
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
    <div class="" style="align-items: center;">
        <br>
        <ng-image-slider [images]="imageObject" [imagePopup]="false" [imageSize] = "{width: '300px', height: '200px', space: 15}" #nav>
        </ng-image-slider>
        <br>
        <ng-image-slider [images]="imageObject" [imagePopup]="false" [imageSize] = "{width: '300px', height: '200px', space: 15}" #nav>
        </ng-image-slider>
        <br>
        <ng-image-slider [images]="imageObject" [imagePopup]="false" [imageSize] = "{width: '300px', height: '200px', space: 15}" #nav>
        </ng-image-slider>
    </div>

</body>