<header>


<nav  *ngIf="usuario.rol == 'contribuidor'"class="navbar navbar-expand-lg navbar-light bg-light style='color:#004272';">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <a href="/home"><img src="https://i.ibb.co/x26VNsy/Sin-t-tulo-1.png" alt="Sin-t-tulo-1" style="width: 80px; height: 50px;"></a>
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
            <a class="nav-link" href="admin/resource-form">Subir un recurso</a>
          </li>
      </ul>

    </div>
    <ul class="nav navbar-nav navbar-right mr-5">
        <li><button (click)= "SignOut()" class="special rounded-pill h6 " data-bs-toggle="modal"
            data-bs-target="#evaluateResource">&nbsp;&nbsp;&nbsp;&nbsp;Cerrar sesión&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
      </ul>
      <br>
      <br>
  </nav>

<nav  *ngIf="usuario.rol == 'admin'"class="navbar navbar-expand-lg navbar-light bg-light style='color:#004272';">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <a href="/home"><img src="https://i.ibb.co/x26VNsy/Sin-t-tulo-1.png" alt="Sin-t-tulo-1" style="width: 80px; height: 50px;"></a>
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
          
            <a class="nav-link" href="/admin/resources">Gestionar recursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/users">Gestionar usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/resource-form">Subir un recurso</a>
          </li>
      </ul>

    </div>
    <ul class="nav navbar-nav navbar-right mr-5">
        <li><button (click)= "SignOut()" class="special rounded-pill h6 " data-bs-toggle="modal"
            data-bs-target="#evaluateResource">&nbsp;&nbsp;&nbsp;&nbsp;Cerrar sesión&nbsp;&nbsp;&nbsp;&nbsp;
             </button></li>
      </ul>
  </nav>


  <nav  *ngIf="usuario.rol == '' " class="navbar navbar-expand-lg navbar-light bg-light style='color:#004272';">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <img src="https://i.ibb.co/x26VNsy/Sin-t-tulo-1.png" alt="Sin-t-tulo-1" style="width: 80px; height: 50px;">
      <ul class="navbar-nav navbar-left">
          <li class="nav-item" >
            <a class="nav-link" href="/collaborator">Ser colaborador</a>
          </li>
      </ul>
      

    </div>
    <ul class="nav navbar-nav navbar-right mr-5">
        <li><button  class="special rounded-pill h6 " data-bs-toggle="modal"
            data-bs-target="#evaluateResource" style="margin-right: 1em;"><a style="text-decoration: none;" href="/login">&nbsp;&nbsp;&nbsp;&nbsp;Iniciar sesión&nbsp;&nbsp;&nbsp;&nbsp;</a></button></li>
            <li><button  class="special rounded-pill h6 " data-bs-toggle="modal"
              data-bs-target="#evaluateResource" style="margin-right: 1em;"><a style="text-decoration: none;" href="/register">&nbsp;&nbsp;&nbsp;&nbsp;Registro&nbsp;&nbsp;&nbsp;&nbsp;</a></button></li>
        </ul>
  </nav>

  <nav  *ngIf="usuario.rol == 'estudiante' " class="navbar navbar-expand-lg navbar-light bg-light style='color:#004272';">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <img src="https://i.ibb.co/x26VNsy/Sin-t-tulo-1.png" alt="Sin-t-tulo-1" style="width: 80px; height: 50px;">
      <ul class="navbar-nav navbar-left">
          <li class="nav-item">
            <a class="nav-link" href="#">Ser colaborador</a>
          </li>
      </ul>
      

    </div>
    <ul class="nav navbar-nav navbar-right mr-5">
      <li><button (click)= "SignOut()" class="special rounded-pill h6 " data-bs-toggle="modal"
          data-bs-target="#evaluateResource">&nbsp;&nbsp;&nbsp;&nbsp;Cerrar sesión&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
    </ul>
    <br>
    <br>
  </nav>




</header>
