.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.redhat{
    font-family: 'Red Hat Display', sans-serif;
    color: #FFFF;
}
.btnw{
    background-color: white;
    color: #003F72;
    border-color: white;
    font-size: 1.6em;
}
.cats{
    width: 40%;
}