<br>
<div class="bg-image redhat d-flex flex-row align-items-center img-1">
    <div style="width: 70%; margin-left: auto;margin-right: auto;">
    </div>
</div>
<div class="container p-5 cats">
    <select [(ngModel)]="titulationSelected" (ngModelChange)="showTitulation()"
        class="form-select form-select-lg mb-3 btnw" aria-label=".form-select-lg example">
        <option *ngFor="let titulation of titulations" [ngValue]="titulation.name">
            {{titulation.name}}</option>
    </select>
</div>
<div class="container p-4">

    <div class="card-group" *ngFor="let resources of result">
        <div class="card zoom p-1" *ngFor="let resource of resources">
            <a [routerLink]="" (click)='showResource(resource)'>
                <img class="card-img-top" src="{{resource.banner}}" alt="{{resource.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{resource.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{resource.keywords}}</h6>
                    <p class="card-text">{{resource.description?.substr(0, 250)}}</p>
                </div>
                <div class="card-footer" *ngIf="resource.title != undefined">
                    <small class="text-muted">{{resource.creationDate?.seconds * 1000 | date: "dd/MM/yy
                        hh:mm"}}</small>
                </div>
            </a>
        </div>
    </div>
</div>