<!-- <header>
    <div>
        <nav class="navbar navbar-light" style="background-color: #003F72;">
            <a class="navbar-brand redhatbold">UTPL</a>
            <form class="form-inline">
                <button class="btn rounded-pill redhat butyell" type="submit">Iniciar Sesión</button>
                <button class="btn rounded-pill redhat butblu" type="submit">Registrarse</button>
            </form>
        </nav>
    </div>
</header> -->

<div class="bg-image redhat d-flex flex-row align-items-center img-1">
    <div style="width: 70%; margin-left: auto;margin-right: auto;">
        <h2>Repositorio</h2>
        <h1>REAS</h1>
        <div class="input-group mb-3 ">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Ingrese un tema...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="searchResources()"
                    style="background-color: #003F72; color: #ffff;" type="button">Buscar</button>
            </div>
        </div>
        <!-- <div>
            <input class="form-control rounded-pill" type="text" [(ngModel)]="search" placeholder="Ingrese un tema..."
                style="width: 80%">
            <button (click)="searchResources()" class="btn btn-success">Buscar</button>
        </div> -->
    </div>
</div>

<div class="row mb-3">
    <div class="col-3 ybox redhab ">
        <section class="mlf" style="padding:3%;">
            <h3>Áreas</h3>
            <ul>
                <li><a class="text-decoration-none" [routerLink]=""
                        (click)='showResourcesByCategory("economic-and-business")'>Facultad de Ciencias Economicas y
                        Empresariales</a></li>
                <br>
                <li><a class="text-decoration-none" [routerLink]=""
                        (click)='showResourcesByCategory("exact-natural-sciences")'>Facultad de Ciencias Exactas y
                        Naturales</a></li>
                <br>
                <li><a class="text-decoration-none" [routerLink]=""
                        (click)='showResourcesByCategory("health-area")'>Facultad de Ciencias de la Salud</a></li>
                <br>
                <li><a class="text-decoration-none" [routerLink]=""
                        (click)='showResourcesByCategory("socio-humanistic-area")'>Facultad de Ciencias Sociales,
                        Educación y Humanidades</a></li>
                <br>
                <li><a class="text-decoration-none" [routerLink]=""
                        (click)='showResourcesByCategory("technical-area")'>Facultad de Ingenierias Y Arquitectura</a>
                </li>
            </ul>
        </section>

    </div>
    <div class="col-9" style="padding:auto">
        <br>
        <h2 class="redhab" style="margin-left: 0.3em;">Recursos mejor calificados</h2>
        <ng-image-slider [images]="topRatedResources" [imagePopup]="false"
            [imageSize]="{width: '300px', height: '200px', space: 30}" (imageClick)="clickImageCreationDate($event)"
            #nav>
        </ng-image-slider>
        <h2 class="redhab" style="margin-left: 0.3em;">Recursos recientes</h2>
        <ng-image-slider [images]="resourcesCreationDate" [imagePopup]="false"
            [imageSize]="{width: '300px', height: '200px', space: 30}" (imageClick)="clickImageCreationDate($event)"
            #nav>
        </ng-image-slider>
    </div>
</div>
<div style="padding: auto; margin-top: -1em;">
    <div class="centered bg-image redhat img-2" style="color: #F3B926;">
        <div class="col-sm-3" style="text-align: center;">
            <div style="padding: 10px 10px 10px 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-file-text" viewBox="0 0 16 16">
                    <path
                        d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                    <path
                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                </svg>
            </div>
            <h3 class="wh2">+{{resourcesCount}}</h3>
            <h5 class="wh1">RECURSOS</h5>
        </div>
        <div class="col-sm-3" style="text-align: center;">
            <div style="padding: 10px 10px 10px 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-person-square" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                </svg>
            </div>
            <h3 class="wh2">+{{usersCount}}</h3>
            <h5 class="wh1">ESTUDIANTES</h5>
        </div>
        <div class="col-sm-3" style="text-align: center;">
            <div style="padding: 10px 10px 10px 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-play-btn" viewBox="0 0 16 16">
                    <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                </svg>
            </div>
            <h3 class="wh2">+{{multimediaCount}}</h3>
            <h5 class="wh1">MULTIMEDIA</h5>
        </div>
    </div>
</div>
<footer class="text-center text-lg-start bg-image text-muted fnt img-3 ">
    <section style="padding: 0.5%">
        <div class="container text-center text-md-start mt-5 mgrt">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase redhatbold mb-4">
                        <img src="https://www.utpl.edu.ec/sites/all/themes/utpl/logo.png" style="width: 4em">
                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 wh">
                    <h6 class="text-uppercase fw-bold mb-4 wh">
                        Contactos
                    </h6>
                    <p><i class="fas fa-home me-3"></i>San Cayetano Alto - Loja</p>
                    <p><i class="fas fa-home me-3"></i>Centros UTPL</p>
                    <p><i class="fas fa-home me-3"></i>Buzón de consultas</p>
                    <p><i class="fas fa-home me-3"></i>1800 88 75 88</p>
                    <p><i class="fas fa-home me-3"></i>WhatsApp: 099 956 5400</p>
                    <p><i class="fas fa-home me-3"></i>PBX: 07 370 1444</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 wh">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Vínculos de interés
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Decide ser más</p>
                    <p><i class="fas fa-home me-3"></i>Admisiones</p>
                    <p><i class="fas fa-home me-3"></i>Noticias</p>
                    <p><i class="fas fa-home me-3"></i>Trabaja con nosotros</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 wh">
                    <p><i class="fas fa-home me-3"></i></p>
                    <p><i class="fas fa-home me-3"></i>Eventos</p>
                    <p><i class="fas fa-home me-3"></i>Alumni</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4 wh">
        © 2021 Copyright:
        <br>
        <a class="text-reset fw-bold" href="https://www.utpl.edu.ec">Universidad Técnica Particular de Loja</a>
    </div>
</footer>