<div class="container">

    <br>
    <div>
        <input type="text" class="form-control" (input)="onSearchChange($event.target.value)"
            placeholder="Filtrar por email...">
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersFilter">
                <td scope="row">
                    <p>{{user.email}}</p>
                </td>
                <td scope="row">
                    <select class="form-select" aria-label=".form-select-sm example" name="type" [(ngModel)]="user.rol"
                        [ngModelOptions]="{standalone: true}">
                        <option [selected]="user.rol == role ? true : false" [value]="role" *ngFor="let role of roles">
                            {{role}}</option>
                    </select>
                </td>
                <td scope="row">
                    <button type="button" class="btn btn-success" (click)="updateRole(user)">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="align-self-center text-center">
    <button type="button" class="btn btn-success" (click)="updateRole()">Actualizar</button>
</div> -->

<!-- <ul>
    <li *ngFor="let user of users">
        {{user.email + "-"}}{{user.rol}}
    </li>
</ul> -->