<div class="container-fluid p-5">
    <div class="container-fluid">
        <!-- <div class="bg-blue row p-2">
            <div class="col">
                UTPL
            </div>
            <div class="col">
                Administrador
            </div>
        </div> -->
        <div class="input-group mb-3 ">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Ingrese un tema...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="searchResources()"
                    style="background-color: #003F72; color: #ffff;" type="button">Buscar</button>
            </div>
        </div>

        <h4>Recursos encontrados por el filtro "{{decodeSearch}}"</h4>
        
        <div >
            <div class="row"> 
                <div class="col-1">
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" value="filter" [(ngModel)]="filter" name="filter"
                            value="name" [checked]="true" (change)="onItemChange($event.target.value)" />Titulo 
                    </label>
                </div>
                <div class="col-1">
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" value="filter" [(ngModel)]="filter" name="filter"
                            value="tags" (change)="onItemChange($event.target.value)" />Etiqueta
                    </label>
                </div>
                <div class="col-1">
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" value="filter" [(ngModel)]="filter" name="filter"
                            value="category" (change)="onItemChange($event.target.value)" />Categoria
                    </label>
                </div>
                <div class="col-1">
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" value="filter" [(ngModel)]="filter" name="filter"
                            value="type" (change)="onItemChange($event.target.value)" />Tipo
                    </label>
                </div>
            </div>

   

  

      

        </div>
        <br>
        <div class="card-group" *ngFor="let resources of result">
            <div class="card zoom p-1" *ngFor="let resource of resources">
                <a [routerLink]="" (click)='showResource(resource)'>
                    <img class="card-img-top" src="{{resource.banner}}" alt="{{resource.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{resource.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{resource.keywords}}</h6>
                        <p class="card-text">{{resource.description?.substr(0, 250)}}</p>
                    </div>
                    <div class="card-footer" *ngIf="resource.title != undefined">
                        <small class="text-muted">{{resource.creationDate?.seconds * 1000 | date: "dd/MM/yy
                            hh:mm"}}</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>