<div class="container">
    <div class="row" style="margin-top: 2em;">
        <div class="col-sm-7">
            <div class="row">
                <h2 style="color: #003F72;">Ser Colaborador</h2>
                <p >El rol de colaborador te permite gestionar todo lo relacionado a los recursos educativos que sean subidos a la plataforma. 
                </p>
                <h2 style="color: #003F72;">Un colaborador garantiza</h2>
                <p> 
                    <strong >Calidad</strong>
                    <br>
                    Los archivos deben estar completos y se deben poder descargar sin inconvenientes. En caso de haber algún problema técnico, deberás buscar la manera de resolverlo. En caso contrario se anulará la publicación. Diseña documentos que sean atractivos visualmente y bien organizados.
                    <br>
                    <br>
                    <strong>Contenido inapropiado</strong>
                    <br>
                    Asegúrate de que el contenido que estás publicando sea respetuoso con nuestra comunidad.
                    <br>
                    <br>
                    <strong>Material audiovisual</strong>
                    <br>
                    Asegurate que el material de audio e imagen sea de buena calidad.
                    <br>
                    <br>
                    <strong>Complementos y enlaces fuera del sitio</strong>
                    <br>
                    En caso de requerir algún complemento, app, deberás aclararlo. Sugerimos evitar basar tus recursos en complementos externos al sitio pero en caso de hacerlo, debes asegurarte que el material, ya sea a un hipervínculo, un código QR etc, esté vigente siempre que tu publicación esté activa. De lo contrario se anulará la publicación. No publiques recursos que enlacen con otros sitios de terceros.
                    <br>
                    <br>
                    <strong>Respeta la propiedad intelectual</strong>
                    <br>
                    Recuerda que tus recursos deben contener solamente material de tu propia autoría o del que tienes derechos para utilizar comercialmente. Edulink, no aprobará/ quitará los recursos que no cumplan con esta condición. Para mayor información, puedes leer este documento sobre la propiedad intelectual
                </p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <img  style="width: 35em;" src="https://i.ibb.co/mTYCbgM/undraw-Browsing-re-eycn.png" >
            </div>
        </div>
    </div>
</div>
<footer class="text-center text-lg-start bg-image text-muted fnt img-3 ">
    <section style="padding: 0.5%">
        <div class="container text-center text-md-start mt-5 mgrt">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase redhatbold mb-4">
                        <img src="https://www.utpl.edu.ec/sites/all/themes/utpl/logo.png" style="width: 4em">
                    </h6>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 wh">
                    <h6 class="text-uppercase fw-bold mb-4 wh">
                        Contactos
                    </h6>
                    <p><i class="fas fa-home me-3"></i>San Cayetano Alto - Loja</p>
                    <p><i class="fas fa-home me-3"></i>Centros UTPL</p>
                    <p><i class="fas fa-home me-3"></i>Buzón de consultas</p>
                    <p><i class="fas fa-home me-3"></i>1800 88 75 88</p>
                    <p><i class="fas fa-home me-3"></i>WhatsApp: 099 956 5400</p>
                    <p><i class="fas fa-home me-3"></i>PBX: 07 370 1444</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 wh">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Vínculos de interés
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Decide ser más</p>
                    <p><i class="fas fa-home me-3"></i>Admisiones</p>
                    <p><i class="fas fa-home me-3"></i>Noticias</p>
                    <p><i class="fas fa-home me-3"></i>Trabaja con nosotros</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 wh">
                    <p><i class="fas fa-home me-3"></i></p>
                    <p><i class="fas fa-home me-3"></i>Eventos</p>
                    <p><i class="fas fa-home me-3"></i>Alumni</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4 wh">
        © 2021 Copyright:
        <br>
        <a class="text-reset fw-bold" href="https://www.utpl.edu.ec">Universidad Técnica Particular de Loja</a>
    </div>
</footer>