.bg-color {
  background-color: #00828c;
}

.bg-blue {
  background-color: #003f72;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.buttom-utpl {
  background-color: #eaab00;
  color: #003f72;
  font-weight: bold;
}

.bg-color {
  background-color: #00828c;
}

.bg-blue {
  background-color: #003f72;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.zoom {
  transition: transform 0.4s; /* Animation */
}

.zoom:hover {
  transform: scale(
    0.9
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 0.8;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}
